<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" media="screen" href="../../_assets/css/main.css">
  <link rel="stylesheet" href="../../_assets/css/code.css">
   {% block meta %}{% endblock %}
</head>
<body>
    {{ content | replace('<p><img', '<img') | replace('"></p>', '">') | safe }}
</body>
</html>