---
layout: base
---

<link rel="stylesheet" href="../../_assets/css/report.css">

{# Define full issue list #}
{% set issueList = collections[page.fileSlug] %}

{# define keyboard issue list #}
{% set issueListKeyboard = collections[page.fileSlug + '-keyboard'] %}

{# Define magnification and contrast issue list #}
{% set issueListMagnification = collections[page.fileSlug + '-magnification'] %}

{# Define screen reader issue list #}
{% set issueListScreenreader = collections[page.fileSlug + '-screenreader'] %}

{# Define deafness and cognitive issue list #}
{% set issueListCognitive = collections[page.fileSlug + '-cognitive'] %}

{# Define best practices list #}
{% set bpList = collections[page.fileSlug + '-bp'] %}

<main>
  <section id="start" class="cover-page">
    <header class="header">
      <img src="../../_assets/images/logo.svg" alt="Nomensa Ltd" class="logo">
    </header>
    <h1>{{ translations.report_for[language] }} {{ title }}</h1>

    <dl>
      <dt>{{ translations.evaluated_by[language] }}</dt>
      <dd>{{ evaluation.evaluator }}</dd>
      <dt>{{ translations.commissioned_by[language] }}</dt>
      <dd>{{ evaluation.commissioner }}</dd>
      <dt>{{ translations.target[language] }}</dt>
      <dd>{{ evaluation.target }}</dd>
      <dt>{{ translations.date[language] }}</dt>
      <dd>{{ evaluation.date }}</dd>
      {% if evaluation.special_requirements %}
      <dt>{{ translations.special_requirements[language] }}</dt>
      <dd>{{ evaluation.special_requirements }}</dd>
      {% endif %}
    </dl>
  </section>

  <section id="executive-summary">
    <h2>{{ translations.executive_summary[language] }}</h2>
    {% markdown "/src/reports/" + page.fileSlug + "/summary.md" %}
    <h3>{{ translations["results_per_principle"][language] }}</h3>
    {% sc_table issueList, language, evaluation.targetLevel, evaluation.targetWcagVersion %}
  </section>

  <section id="nomensa-barrier-score">
    <h2>{{ translations["barrierscore"][language] }}</h2>
    {% include "../reports/" + page.fileSlug + "/barrierscore.njk" %}
  </section>

  <section id="explanation-of-report">
    <h2>{{ translations.about_this_report[language] }}</h2>
    {% markdown "/src/_shared-content/" + language + "/about-this-report.md" %}
  </section>

  <section id="scope">
    <h2>{{ translations.scope[language] }}</h2>
    <h3>{{ translations.scope_items[language] }}</h3>
    {% if scope %}
    <p>{{ translations.scope[language] }}:
    <ul>
      {% for scope in scope %}
      <li>{{ scope }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if out_of_scope %}
    <p>{{ translations.not_in_scope[language] }}:
    <ul>
      {% for out_of_scope in out_of_scope %}
      <li>{{ out_of_scope }}</li>
      {% endfor %}
      {% endif %}
    </ul>
    <h3>{{ translations.accessibility_support[language] }}</h3>
    <p>{{ translations.accessibility_support_explanation[language] }}</p>
    <ul>
      {% for baseline in baseline %}
      <li>{{ baseline }}</li>
      {% endfor %}
    </ul>
    <h3>{{ translations.technologies_used[language] }}</h3>
    <p>{{ translations.technologies_explanation[language] }}</p>
    <ul>
      {% for technology in technologies %}
      <li>{{ technology }}</li>
      {% endfor %}
    </ul>
  </section>

  <section id="sample">
    <h2>{{ translations.sample[language] }}</h2>
    <p>{{ translations.representative_sample[language] }}</p>
    <ul class="sample-list">
      {% for sample in sample %}
      <li id="{{ sample.id }}">
        <div>
          <img src="{% sample_image sample.screenshot, page.fileSlug %}" alt="" />
        </div>
        <div>
          <strong>{{ sample.title }}</strong><br />
          <a href="{{ sample.url }}">{{ sample.url }}</a>
          <p>{{ sample.description }}</p></li>
        </div>
      {% endfor %}
    </ul>
  </section>

  <h2>{{ translations.issues[language] }}</h2>

  <section id="issues-keyboard">
    <h3>{{ translations["barrierscore_keyboard"][language] }}</h3>
    {% set currentIssueList = issueListKeyboard %}
    {% include '../_layouts/issuelist.njk' %}
  </section>

  <section id="issues-magnification">
    <h3>{{ translations["barrierscore_magnification"][language] }}</h3>
    {% set currentIssueList = issueListMagnification %}
    {% include '../_layouts/issuelist.njk' %}
  </section>

  <section id="issues-screenreader">
    <h3>{{ translations["barrierscore_screenreader"][language] }}</h3>
    {% set currentIssueList = issueListScreenreader %}
    {% include '../_layouts/issuelist.njk' %}
  </section>

  <section id="issues-cognitive">
    <h3>{{ translations["barrierscore_cognitive"][language] }}</h3>
    {% set currentIssueList = issueListCognitive %}
    {% include '../_layouts/issuelist.njk' %}
  </section>

  {% if bpList.length %}
    <section id="best-pracites">
      <h2>{{ translations.best_practices[language] }}</h2>
      <ol>
      {% for issue in bpList %}
        {% if issue.fileSlug !== page.fileSlug %}
        <li><a href="#{{ issue.data.title  | slugify }}">{{ issue.data.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ol>
      {% for issue in bpList %}
        {% if issue.fileSlug !== page.fileSlug %}
        <article class="issue">
          <h3 id="{{ issue.data.title  | slugify }}" data-issue="{{ translations.best_practice[language] }}" class="issue-title">{{ issue.data.title }}</h3>
          {{ issue.templateContent | safe }}

          <div class="issue-meta">
            <dl>
              <div>
                <dt>{{ translations.impact[language] }}: </dt>
                <dd>{{ issue.data.impact }}</a></dd>
              </div>
              <div>
                <dt>{{ translations.sample[language] }}: </dt>
                  {% if issue.data.sample == "all" %}
                      <dd><a class="wcag-link" href="#sample">{{ translations.all_pages[language] }}</a></dd>
                  {% else %}
                    {% for sample in issue.data.sample %}               
                      <dd><a class="wcag-link" href="#{{ sample }}">{{ sample }}</a></dd>
                    {% endfor %}
                  {% endif %}
              </div>
            </dl>
          </div>
        </article>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
</main>